@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Poppins";
}

.bg-text-gradient {
  background-image: linear-gradient(226deg, #ffb1b1 24.53%, #cdcbff 75.37%);
}
.hero-text,
.form-data {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.no-scrollbar {
  scrollbar-width: none;
}

.max-w-8xl {
  max-width: 90rem;
}

.slate-border {
  border-color: hsla(156, 8%, 75%, 0.2);
}

.inline-grid {
  display: inline-grid;
}
