.portfolio {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  height: 100vh;
}

.welcome nav {
  display: flex;
  gap: 8px;
}

.welcome nav a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

.welcome div h1 {
  font-size: 60px;
  font-weight: bold;
  color: aliceblue;
}

.welcome footer {
  align-self: self-end;
}

.about {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

.about img {
  min-height: 100%;
  min-width: 100%;
}

.text {
  background: #eeeee7;
  color: #323230;
  padding: 30px 60px;
}

.text h2 {
  font-size: 30px;
}

.photos {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  overflow: hidden;
}

.photos img {
  min-height: 100%;
  min-width: 100%;
}

@media screen and (max-width: 1100px) {
  .portfolio {
    grid-template-columns: 1fr 1fr;
  }
  .photos {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    display: flex;
    flex-direction: column;
  }
  .photos {
    grid-column: span 1;
    display: flex;
    flex-direction: column-reverse;
  }
}
