.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
}
header > h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
nav > li {
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav > li:hover {
  color: black;
}

header {
  grid-column: span 3;
  border-bottom: 1px solid #ddd;
}

nav {
  padding: 30px;
  border-right: 1px solid #ddd;
}
article {
  padding: 10px;
}
nav > p {
  padding: 10px 0px;
}
article > h2 {
  font-size: 60px;
  font-weight: bold;
}

article > img {
  width: 100%;
}

article > p {
  font-size: 16px;
  line-height: 2em;
  color: #777;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}
aside {
  padding: 30px;
  border-left: 1px solid #ddd;
}

footer {
  border-top: 1px solid #ddd;
  text-align: center;
  grid-column: span 3;
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  article > h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1000px) {
  article > h2 {
    font-size: 50px;
  }
  nav {
    grid-column: span 3;
    border-bottom: 1px solid #ddd;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    padding: 16px;
  }
  article {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }
  aside {
    padding: 16px;
    font-size: 14px;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 860px) {
  article {
    grid-column: span 3;
  }
  article > h2 {
    font-size: 40px;
  }
  article > p {
    padding: 6px 0px;
  }
  aside {
    border-bottom: 0;
    grid-column: span 3;
    border-top: 2px solid #ddd;
  }
  aside > ul > li {
    display: flex;
    gap: 4px;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
}

@media screen and (max-width: 500px) {
  article > h2 {
    font-size: 30px;
  }
  article > p {
    font-size: 12px;
  }
}
